{% block content %}

{% for bird in birds %}
<p>id: {{bird.id}}, Species-id: {{bird.species_id}}, Namn: {{bird.name}}, Species: {{bird.species}}, Wingspan: {{bird.wingspan}}cm</p>
{%endfor%}


{% endblock %}